
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-bottom: -66px;
  font-size: 18px;
  margin-left: 25px;
}
.box {
  display: flex;
  background-color: rgb(187, 255, 0);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 395px;
  height: 35px;
}
#btn {
  height: 5vh;
   margin-top: -520px;  
   border: 5px solid blue;
}
.btn1 {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
    }
.delhost {
  height: 5vh;
  background-color: whitesmoke;
}

.boxs {
  height: 25vh;
}
.delete {
  height: 55vh;
  border: 5px solid red;
}
.my-delete {
list-style: none;
}
.my-para {
  margin-left: -18px;
  font-size: 12px;
  list-style: none;
  text-transform: uppercase;
}
.my-author {
  margin-left: 2px;
  list-style: none;
  font-size: 16px;
}
.my-page {
  margin-left: 10px;
  list-style: none;
  font-size: 16px;
}
.my-title {
  margin-left: 10px;
  font-size: 16px;
  list-style: none;
}
#title {
  height: 20px;
  width: 55vw;
}
#author {
  height: 20px;
  width: 55vw;
}
#pages {
  height: 20px;
  width: 55vw;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
.box-4 {
  display: flex;
    margin-top: -250px;  
   height: 35vh;
   margin-left: 390px;
   flex-wrap: wrap;
   width: 42vw;
}
.author1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 100%; 
}
.label {
  display: flex;
  width: 18vw; 
  margin-top: 9px;
  margin-left: -2px;
}
.my-fieldset {
  height: 30vh;
  width: 20vw;
}


@media (max-width: 1024px) {
body {
  margin: 0;
  padding: 0;
}
.conntainer {
  height: 100vh;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-top: -46px;
  font-size: 18px;
  margin-left: 55px;
}
.box {
  display: flex;
  background-color: rgb(187, 255, 0);
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 355px;
  height: 35px;
  margin-left: 55px;
}
#btn {
  height: 5vh;
   margin-top: -510px;  
   border: 5px solid blue;
}
.btn1 {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
}
.btn2 {
  height: 5vh;
}
.my-para {
  margin-left: -24px;
  font-size: 11px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
  margin-top: -2px;
}
.my-author {
  margin-left: -5px;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
}
.my-page {
  margin-left: -5px;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
}
.my-title {
  margin-left: -5px;
  font-size: 12px;
  list-style: none;
  font-weight: 500;
}
#title {
  height: 20px;
  width: 85vw;
}
#author {
  width: 85vw;
  height: 20px;
}
#pages {
  width: 85vw;
  height: 20px;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
.box-4 {
  display: flex;
    margin-top: -250px;  
   height: 42vh;
   margin-left: 300px;
   flex-wrap: wrap;
   width: 42vw;
   
}
.author1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 10vw;
  text-align: center;
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.label {
  display: flex;
  width: 18vw; 
  margin-top: 5px;
  margin-left: 2px;
}
.my-fieldset {
  height: 27vh;
  width: 70vw;
}
}@media (max-width: 768px) {
body {
  margin: 0;
  padding: 0;
}
.conntainer {
  height: 100vh;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-top: -46px;
  font-size: 18px;
  margin-left: 55px;
}
.box {
  display: flex;
  background-color: rgb(187, 255, 0);
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 385px;
  height: 35px;
  margin-left: 25px;
}
#btn {
  height: 5vh;
   margin-top: -520px;  
   border: 5px solid blue;
   margin-right: 1px;
}
.btn1 {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.my-fieldset {
  height: 5vh;
  width: 90vw;
}
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
}
.btn2 {
  height: 5vh;
}
.my-para {
    margin-left: -11px;  
  font-size: 11px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
}
.my-author {
  margin-left: -5px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.my-page {
  margin-left: -5px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.my-title {
  margin-left: -5px;
  font-size: 14px;
  list-style: none;
  font-weight: 500;
}
.label {
  display: flex;
  width: 18vw; 
  margin-top: -20px;
  margin-left: 495px;
}
#title {
  height: 20px;
  width: 85vw;
}
#author {
  height: 20px;
  width: 85vw;
}
#pages {
  height: 20px;
  width: 85vw;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
 .box-4 {
  display: flex;
    margin-top: -260px;  
   height: 42vh;
   margin-left: 150px;
   flex-wrap: wrap;
   width: 62vw;
} 
.author1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 11vw;
  text-align: center;
}
#scope {
  height: 90px; 
  padding-left: 25px;
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  margin-bottom: 525px;
  width: 9vw;
text-align: right;
  height: 40%;
}.label {
  display: flex;
  width: 18vw; 
  margin-top: 5px;
  margin-left: 2px;
}
.my-fieldset {
  height: 27vh;
  width: 70vw;
}
}
@media (max-width: 425px) {
body {
   margin: 0; 
  padding: 0;
}
.conntainer {
  height: 100vh;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-top: -55px;
  font-size: 18px;
  margin-left: 55px;
}
.header {
   margin-top: 65px; 
   
}
.box {
   width: 100%; 
  display: flex;
  background-color: rgb(187, 255, 0);
  height: 130vh;
  justify-content: center;
  align-items: center;
   flex-wrap: wrap; 
}
.box-1 {
  display: flex;
  width: 93%;
  justify-content: center;
   margin-top: -60px; 
  height: 65px;
   margin-left: 22px; 
  /* border: 5px solid red; */
}
#btn {
  height: 6vh;
    margin-top: -730px;   
   border: 5px solid blue;
   margin-right: 5px;
}
.btn1 {
  display: flex;
  margin-top: 220px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.my-fieldset {
  height: 14px;
  width: 95vw;
  margin-right: 25px;
} 
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
}
.btn2 {
  height: 5vh;
}
.my-para {
    margin-left: -60px;  
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
}
.my-author {
  margin-left: -31px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.my-page {
  margin-left: -19px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.my-title {
  margin-left: -31px;
  font-size: 14px;
  list-style: none;
  font-weight: 500;
}

#title {
  height: 9px;
  width: 80vw;
}
#author {
  width: 80vw;
  height: 9px;
}
#pages {
  height: 9px;
  width: 80vw;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
.box-4 {
  display: flex;
    margin-top: -400px;  
   height: 42vh;
   margin-left: 50px;
   flex-wrap: wrap;
   width: 72vw;
}
.author1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 11vw;
  text-align: center;
}
#scope {
   margin-left: 12px; 
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  margin-bottom: 525px;
  width: 29vw;
/* text-align: right; */
  height: 40%;
}
.label {
  display: flex;
  width: 38vw; 
  margin-top: 5px;
  margin-left: 2px; 
}
.my-fieldset {
  height: 27vh;
  width: 80vw;
}
}
@media (max-width: 414px) {
body {
   margin: 0; 
  padding: 0;
}
.conntainer {
  height: 100vh;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-top: -75px;
  font-size: 18px;
  margin-left: 55px;
}
.header {
   margin-top: 65px;   
}
.box {
   width: 100%; 
  display: flex;
  background-color: rgb(187, 255, 0);
  height: 130vh;
  justify-content: center;
  align-items: center;
   flex-wrap: wrap; 
}
.box-1 {
  display: flex;
  width: 93%;
  justify-content: center;
   margin-bottom: 455px; 
  height: 65px;
   margin-left: 22px; 
}
#btn {
  height: 5vh;
    margin-top: -1295px;   
   border: 5px solid blue;
   margin-right: 55px;
}
.btn1 {
  display: flex;
  margin-top: 220px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.my-fieldset {
  margin-top: -125px;
  height: 14px;
  width: 95vw;
  margin-right: 25px;
} 
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
}
.btn2 {
  height: 5vh;
}
.my-para {
    margin-left: -71px;  
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
}
.my-author {
  margin-left: -31px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}
.my-page {
  margin-left: -19px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.my-title {
  margin-left: -17px;
  font-size: 16px;
  list-style: none;
  font-weight: 500;
}

#title {
  height: 22px;
  width: 90vw;
}
#author {
  height: 22px;
  width: 90vw;
}
#pages {
  height: 22px;
  width: 90vw;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
.box-4 {
  display: flex;
    margin-top: -730px;  
   height: 42vh;
   margin-left: 40px;
   flex-wrap: wrap;
   width: 85vw;
}
.author1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 11vw;
  text-align: center;
}
#scope {
   margin-left: 26px; 
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  margin-bottom: 525px;
  width: 9vw;
text-align: right;
  height: 40%;
}
.label {
  display: flex;
  width: 38vw; 
  margin-top: 9px;
  margin-left: 2px; 
}
.my-fieldset {
  height: 18vh;
  width: 90vw;
}
}
@media (max-width: 375px) {
body {
   margin: 0; 
  padding: 0;
}
.conntainer {
  height: 100vh;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-top: -65px;
  font-size: 18px;
  margin-left: 55px;
}
.header {
   margin-top: 65px;   
}
.box {
   width: 110%; 
  display: flex;
  background-color: rgb(187, 255, 0);
  height: 130vh;
  justify-content: center;
  align-items: center;
   flex-wrap: wrap; 
}
.box-1 {
  display: flex;
  width: 93%;
  justify-content: center;
   margin-bottom: 300px; 
  height: 65px;
   margin-left: 22px; 
}
#btn {
  height: 6vh;
    margin-top: -648px;   
   border: 5px solid blue;
   margin-right: 5px;
}
.btn1 {
  display: flex;
  margin-top: 220px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.my-fieldset {
  margin-top: -25px;
  height: 14px;
  width: 95vw;
  margin-right: 25px;
} 
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
}
.btn2 {
  height: 5vh;
}
.my-para {
    margin-left: -95px;  
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
  margin-top: 3px;
}
.my-author {
  margin-left: -31px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}
.my-page {
  margin-left: -19px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}
.my-title {
  margin-left: -27px;
  font-size: 16px;
  list-style: none;
  font-weight: 500;
}

#title {
  height: 22px;
  width: 80vw;
}
#author {
  height: 22px;
  width: 80vw;
}
#pages {
  height: 22px;
  width: 80vw;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
.box-4 {
  display: flex;
    margin-top: -360px;  
   height: 42vh;
   margin-left: 45px;
   flex-wrap: wrap;
   width: 82vw;
}
.author1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 11vw;
  text-align: center;
}
#scope {
   margin-left: 36px; 
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  margin-bottom: 525px;
  width: 9vw;
text-align: right;
  height: 40%;
}
.label {
  display: flex;
  width: 38vw; 
  margin-top: 5px;
  margin-left: 2px; 
}
.my-fieldset {
  height: 27vh;
  width: 90vw;
}
}
@media (max-width: 320px) {
body {
   margin: 0; 
  padding: 0;
}
.conntainer {
  height: 100vh;
   background-color: blue; 
  width: 100vw;
}
.p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 800;
  margin-top: -35px;
  font-size: 18px;
  margin-left: 55px;
}
.header {
   margin-top: 65px;   
}
.box {
   width: 120%; 
  display: flex;
  background-color: rgb(187, 255, 0);
  height: 130vh;
  justify-content: center;
  align-items: center;
   flex-wrap: wrap; 
}
.box-1 {
  display: flex;
  width: 93%;
  justify-content: center;
   margin-bottom: 255px; 
  height: 65px;
   margin-left: 22px; 
}
#btn {
  height: 6vh;
    margin-top: -568px;   
   border: 5px solid blue;
   margin-right: 5px;
}
.btn1 {
  display: flex;
  margin-top: 220px;
  justify-content: center;
  width: 55vw;
  height: 5vh;
  margin-left: 115px;
}
.my-fieldset {
  margin-top: -25px;
  height: 14px;
  width: 95vw;
  margin-right: 25px;
} 
.box-2 {
  display: flex;
   width: 100%; 
  justify-content: space-around;
  height: 4vh;
}
#btn2 {
  margin-left: 8px;
}
.my-para {
    margin-left: -65px;  
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
}
.my-author {
  margin-left: -31px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}
.my-page {
  margin-left: -19px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.my-title {
  margin-left: -27px;
  font-size: 16px;
  list-style: none;
  font-weight: 500;
}

#title {
  height: 22px;
  width: 90vw;
}
#author {
  height: 22px;
  width: 90vw;
}
#pages {
  height: 22px;
  width: 90vw;
}
.host {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 15vw;
text-align: start;
  height: 40%;
} 
.box-4 {
  display: flex;
    margin-top: -320px;  
   height: 42vh;
   margin-left: 50px;
   flex-wrap: wrap;
   width: 92vw;
}
.author1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
   .title1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.pages1 {
  height: 52vh;
  width: 15vw;
  text-align: center;
}
.status1 {
  height: 52vh;
  width: 11vw;
  text-align: center;
}
#scope {
   margin-left: 36px; 
}
.hosts {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.pagehost {
  display: flex;
  width: 10%;
  margin-bottom: 525px;
  width: 7vw;
text-align: start;
  height: 40%;
}
.statushost {
  display: flex;
  margin-bottom: 525px;
  width: 9vw;
text-align: right;
  height: 40%;
}
.label {
  display: flex;
  width: 38vw; 
  margin-top: 5px;
  margin-left: 2px; 
}
.my-fieldset {
  height: 27vh;
  width: 100vw;
}
}